SpringIntegration-Complex2/src/main/webapp/WEB-INF/Order.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="country"/>
        <xs:element type="xs:string" name="city"/>
        <xs:element type="xs:string" name="LastName"/>
        <xs:element type="xs:string" name="FirstName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>